name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      contents: read # id-token 권한 삭제함
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      # OIDC Client 설치 및 Get Id Token 단계 삭제함

      - name: Install dependencies
        run: npm ci

      - name: Build application
        run: npm run build

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          # 토큰만 남겨둡니다.
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ICY_GROUND_0066BB800 }}
          action: "upload"
          skip_app_build: true
          # skip_app_build가 true일 때, app_location은 빌드된 결과물 폴더(dist)를 가리켜야 합니다.
          app_location: "dist" 
          api_location: ""
          output_location: "" 
          # github_id_token 삭제함

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ICY_GROUND_0066BB800 }}
          action: "close"
